{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/public/style.css">
{% endblock %}
<header class='header p-3'>
    <nav>
        <ul class="flex flex-row space-x-6 ml-6 pt-2 pb-2 txt-white">
            <li><a href='/'>View Shop</a></li>
            <li><a href='/products'>Manage Products</a></li>
            <li><a href='/variants'>Manage Variants</a></li>
            <li><a href='/images'>Manage Images</a></li>
        </ul>
    </nav>
</header>