.header {
    background-color: #3D348B;
}
.txt-white {
    color: #D3D3D3;
}

.txt-big-purp {
    color: #3D348B;
}
.height-300 {
    height: 300px;
}
.cart-btn {
    background-color: #3D348B;
    color: #D3D3D3;
}